body {
    background: linear-gradient(to bottom, #F8F9FA, #e6e6e6);
    color: #003366;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: auto;
    margin: auto;
}

header, .header-intro {
    flex: auto;
}

h1, h2, h3 {
    font-family: 'Poppins' sans-serif;
}

.hero-banner {
    height: 500px;
    color: ;
    text-align: center;
    padding: 10px 10px;
}

.hero-title {
    color: #000e66;
}

.hero-subtitle {
    color: #5A5A5A;
    font-weight: bolder;
}

.url-links {
    color: #0074D9;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    color: #1a0066;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a:hover {
    color: #0056A3;
}

footer {
    text-align: center;
    padding: auto;
    background-color: grey;
    color: #5A5A5A;
    font-size: 0.9rem;
    width: auto;
    bottom: auto;
    position: relative;
}

footer a {
    color: #0074D9;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

